/*====== VARIABLES SECTION ====== */
:root{
    --hue:hsla(177, 70%, 41%, 1); /*Main color of the site (Cyan) */
    --white:#f0f2f5; 
    --black:#181818;
    --grey:#808080;
    --light-grey:#E5E5E5;
}

/*====== RESET SECTION ====== */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul, li, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black);
}
button, input{
    outline: none;
    border: none;
}

/*====== BODY SECTION ====== */
body{
    color:var(--black);
    font-family: 'Poppins', sans-serif;
    background: url('../assets/wallpaper_perfil.png');
    background-size: cover;
}
#header{
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem;
    color:var(--white);
    background: var(--black);
}
#header img{
    width: 50px;
    height: 50px;
}
main #card_perfil{
    width: min(500px, 80%);
    background: var(--white);
    padding: 2rem;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
}
main #card_perfil .user_information{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding:0 1rem 0;
}
main #card_perfil .user_information p:first-child{
    font-weight: 600;
    text-transform: uppercase;
    color:var(--hue);
}
main #card_perfil .user_information p:last-child{
    font-weight: 600;
    text-transform: uppercase;
    
}
main #card_perfil .fa-user-circle{
    font-size: 8rem;
    margin: 0 auto 3rem ;
    color: var(--hue);
}
#change_pass_link{
    margin-top:1rem;
    padding:1rem;
    color:var(--grey);
    width: 200px;
}
#perfil_button{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}
#perfil_button a:first-child,#perfil_button a:last-child {
    background: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    transition: all 0.3s;
    padding: 1rem 2rem;
}
#perfil_button a:first-child{
    border: 1px solid var(--black);
    color: var(--black);
}
#perfil_button a:last-child{
    border: 1px solid red;
    color:red;
}
#changepass_buttons a:first-child:hover{
    background: var(--black);
    color: var(--white);
}
#changepass_buttons a:last-child:hover{
    background: red;
    color: var(--white);
}
footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:1rem;
    color: var(--grey)
}
@media (max-width:800px){
    html{
        font-size: 0.8rem;
    }
    @media (max-width:500px){
        html{
            font-size: 0.68rem;
        }
        #header img{
            width: 30px;
            height:30px;
        }
        main #card_perfil{
            margin-top: 10rem;
        }
    }
}